<div class="footer-bottom">
  <div class="container">
    <div class="w3agile_footer_grids">
      <div class="col-md-3 w3agile_footer_grid">
        <h3>About Us</h3>
        <p>Etiam ut maximus mauris, eu pretium neque. Donec nibh lectus, blandit id metus non, bibendum dictum quam.
          <span>Ut finibus metus eget mi lacinia, et vulputate metus consectetur. Sed sed sem in tortor faucibus
            pharetra non ac est.</span>
        </p>
      </div>

      <div class="col-md-3 w3agile_footer_grid">
        <h3>Contact Info</h3>
        <ul>
          <li><i class="fa fa-map-marker" aria-hidden="true"></i> 1234k Avenue, 4th block, <span>New York City.</span>
          </li>
          <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:example@email.com">mail@example.com</a>
          </li>
          <li><i class="fa fa-phone" aria-hidden="true"></i> +1234 567 567</li>
        </ul>
      </div>
      <div class="col-md-3 w3agile_footer_grid w3agile_footer_grid1">
        <h3>Navigation</h3>
        <ul>
          <!-- <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="about.html">About</a></li> -->
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="/gallery">Gallery</a></li>
          <!-- <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="blog.html">Blog</a></li> -->
          <!-- <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="icons.html">Icons</a></li> -->
          <!-- <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="codes.html">Short Codes</a></li> -->
          <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3 w3agile_footer_grid">
        <h3>Newsletter</h3>
        <p>Subscribe With Us</p>
        <form action="#" method="post">
          <input type="email" placeholder="Subscribe" name="Subscribe" required="">
          <button class="btn1">Go</button>
        </form>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //footer -->
<!-- copyright -->
<div class="copyright">
  <div class="container">
    <p>© 2017 Wedding Plan. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
  </div>
</div>