<app-nav [componentName]="callingComponent.Contact"></app-nav>
<!-- contact -->
<div class="contact-top">
<div class="container">
  <div class="contact-grids">
    <div class="col-md-7 contact-form">
      <form action="#" method="post">
        <input type="text" name="Name" placeholder="Name" required="">
        <input type="email" class="email" name="Email" placeholder="Email" required="">
        <textarea placeholder="Message" name="Message" required=""></textarea>
        <input type="submit" value="SUBMIT">
      </form>
    </div>
    <div class="col-md-4 contact-right">
      <div class="contact-text">
        <h4>Working Hours :</h4>
        <p> Monday – Saturday 5:00 a.m – 9:00 p.m </p>
        <p>	Sunday 10 a.m – 4 p.m </p>
        <p><span class="glyphicon glyphicon-earphone"></span> +11 999 8888 7777 </p> 
      </div> 
    </div> 
    <div class="clearfix"> </div>	
  </div>
</div>
</div>
<div class="map">
<iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=%E0%A4%A6%E0%A4%BF%E0%A4%B5%E0%A5%8D%E0%A4%AF%E0%A5%87%E0%A4%B6%E0%A5%8D%E0%A4%B5%E0%A4%B0%E0%A5%80%20%E0%A4%AA%E0%A4%BE%E0%A4%B0%E0%A5%8D%E0%A4%9F%E0%A5%80%20%E0%A4%AA%E0%A5%8D%E0%A4%AF%E0%A4%BE%E0%A4%B2%E0%A5%87%E0%A4%B8+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
</iframe>
<div class="address agileits">
  <div class="w3ls-title">
    <h3>GET IN TOUCH</h3> 
  </div>
  <p>Broome St, NY 10002, Canada. </p>
  <p>Telephone : +00 111 222 3333</p>
  <p>FAX : +1 888 888 4444</p>
  <p>Email : <a href="mailto:example@mail.com">mail@example.com</a></p>
</div> 
</div>
<app-footer></app-footer>