.widget-container {
  display: flex;
  align-items: space-between;
}

.widget-container .widget {
  width: 325px;
  height: 175px;
  background-color: #fff;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px #939393;
  display: flex;
  align-items: center;
  padding: 20px;
}

.widget-container .widget.green {
  background-color: rgb(4, 67, 66);
}

.widget-container .widget.yellow {
  background-color: rgb(237, 158, 32);
}

.widget-container .widget.red {
  background-color: rgb(126, 5, 5);
}

.widget-container .widget.blue {
  background-color: rgb(105, 32, 251);
}

@media only screen and (max-width: 1600px) {
  .widget-container .widget {
    width: 300px;
  }
}

@media only screen and (max-width: 1500px) {
  .widget-container .widget {
    width: 275px;
  }
}

@media only screen and (max-width: 1400px) {
  .widget-container .widget {
    width: 250px;
  }
}

@media only screen and (max-width: 1200px) {
  .widget-container .widget {
    width: 225px;
  }
}

.widget-container .widget .icon {
  width: 100px;
  font-size: 60px;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .widget-container .widget .icon {
    font-size: 45px;
  }
}

.widget-container .widget .value {
  text-align: center;
  width: 175px;
}

.widget-container .widget .value .top {
  font-size: 30px;
}

@media only screen and (max-width: 1200px) {
  .widget-container .widget .value .top {
    font-size: 26px;
  }
}

.widget-container .widget .value .bottom {
  font-size: 20px;
  margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
  .widget-container .widget .value .bottom {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .widget-container {
    display: flex;
    width: auto;
  }
  
  .widget-container .widget {
    width: 170px;
    height: 100px;
    font-size: 15px;
  }

  .widget-container .widget .icon {
    width: auto;
    font-size: 30px;
    margin-right: 10px;
    text-align: center;
  }

  .widget-container .widget .value {
    text-align: center;
    width: auto;
  }
  
  .widget-container .widget .value .top {
    font-size: 15px;
  }

  .widget-container .widget .value .bottom {
    font-size: 12px;
    margin-top: 5px;
    width: 90px;
  }
  
}
